html, body {
    height: 100%;
    margin: 0;
}
.d-flex {
    height: 100%;
}
.flex-grow-1 {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.textarea-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.textarea-container textarea {
    flex: 1;
    resize: none;
}
textarea {
    font-family: monospace;
}
.is-invalid {
    border-color: red !important;
    box-shadow: 0 0 5px red !important;
}
h2 {
    color: #007BFF;
    font-size: 24px;
    font-family: monospace;
    font-weight: bold;
}
.mirror {
    transform: scaleY(-1);
    opacity: 0.5;
    filter: blur(1.5px);
    margin-top: -10px;
    user-select: none;
    pointer-events: none;
    color: #FF8400;
}
.size-label {
    font-size: 14px;
    color: #666;
    font-weight: lighter;
}
#credit-link{
    text-decoration: none;
}

.casing-selector {
    display: flex;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    overflow: hidden;
}
.casing-option {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: #f8f9fa;
    border-right: 1px solid #ced4da;
    font-weight: bold;
    font-size: 18px;
}
.casing-option:last-child {
    border-right: none;
}
.casing-option.active {
    background-color: #007bff;
    color: white;
}